.logo {
  text-align: center;
  font-size: 40px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.04ch;
  color: rgb(25, 25, 25);
  font-variant-ligatures: no-common-ligatures;
  padding-top: 12px;
}
